In [ ]:
import pandas as pd
import io
import datetime

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/us_equities_news_dataset.csv')

In [ ]:
df.tail()

,id,ticker,title,category,content,release_date,provider,url,article_id
221508,443024,T,Crude And Steel Still In Sync,opinion,We have been reporting on the trade off betwee...,2012-10-04,Ivan Kitov,https://www.investing.com/analysis/crude-and-s...,138733
221509,443025,T,Forget AT T This Is The Telecom Stock You Sho...,opinion,It s the largest cell phone provider in the wo...,2012-05-30,StreetAuthority,https://www.investing.com/analysis/forget-at-t...,124829
221510,443026,T,Wall Street Exposed Part 3 How Dividends C...,opinion,Before we dicuss how the mechanism of dividend...,2012-07-16,Portfolio Cafe,https://www.investing.com/analysis/wall-street...,129651
221511,443027,T,Weighing The Week Ahead It s All About Jobs,opinion,From start to finish the coming week will hav...,2012-09-02,Jeff Miller,https://www.investing.com/analysis/weighing-th...,134926
221512,443028,T,Leap Wireless LEAP JPM Note and AT T T M...,opinion,Leap Wireless International Inc Leap is a ...,2011-12-31,Ophir Gottlieb,https://www.investing.com/analysis/leap-wirele...,110079

In [ ]:
df=df.dropna(subset=['content'])

In [ ]:
df.shape

(221505, 9)

In [ ]:
df['category'].unique()

array(['news', 'opinion'], dtype=object)

####converting data into usable dataframe

In [ ]:
df1 = df[df['ticker'] == 'AAPL']
df1 = df1.sort_values('release_date')
df1['release_date'] = pd.to_datetime(df1["release_date"])

In [ ]:
start = datetime.datetime(2019,8,19)
end = datetime.datetime(2019,8,31)
df1 = df1[df1['release_date'].between(start, end)]

In [ ]:
df1 = df1.reset_index(drop = True)
df1

,id,ticker,title,category,content,release_date,provider,url,article_id
0,273562,AAPL,The Zacks Analyst Blog Highlights Amazon App...,opinion,For Immediate ReleaseChicago IL August 20 2...,2019-08-19,Zacks Investment Research,https://www.investing.com/analysis/the-zacks-a...,200456725
1,272417,AAPL,Stocks Estee Lauder Soars in Premarket PG E...,news,Investing com Stocks in focus in premarket t...,2019-08-19,Investing.com,https://www.investing.com/news/stock-market-ne...,1958163
2,272416,AAPL,Apple CEO warns Trump about China tariffs Sam...,news,Reuters President Donald Trump said on Sun...,2019-08-19,Reuters,https://www.investing.com/news/stock-market-ne...,1957867
3,273556,AAPL,Apple Roundup Tariffs FAA Russia Music Ap...,opinion,Good news about tariffs on iPhone iPads Macs...,2019-08-19,Zacks Investment Research,https://www.investing.com/analysis/apple-round...,200456495
4,272415,AAPL,Top 5 Things to Know in the Market on Monday,news,Investing com Here are the top five things y...,2019-08-19,Investing.com,https://www.investing.com/news/forex-news/top-...,1958041
...,...,...,...,...,...,...,...,...,...
169,273306,AAPL,Why Is Shopify SHOP Up 12 9 Since Last Earn...,opinion,It has been about a month since the last earni...,2019-08-30,Zacks Investment Research,https://www.investing.com/analysis/why-is-shop...,200460561
170,273304,AAPL,Can Apple s New Card Succeed Despite Low Mobil...,opinion,Apple NASDAQ AAPL announced earlier this y...,2019-08-30,Zacks Investment Research,https://www.investing.com/analysis/can-apples-...,200460428
171,273305,AAPL,Dark Days Are Closing In On Apple,opinion,What s the most successful product in history ...,2019-08-30,Stephen McBride,https://www.investing.com/analysis/dark-days-a...,200460195
172,272341,AAPL,Stocks U S Futures Rise as Trade Hopes Exte...,news,Investing com U S futures jumped on Friday ...,2019-08-30,Investing.com,https://www.investing.com/news/stock-market-ne...,1967184
173,272319,AAPL,Factbox Next rounds of Trump s tariffs on Chi...,news,Reuters U S President Donald Trump s next...,2019-08-31,Reuters,https://www.investing.com/news/stock-market-ne...,1967825

##Semantic Analysis

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
new_words = {
    'red': -1.0,
    'green': 1.0,
}

In [ ]:
analyzer = SentimentIntensityAnalyzer()

In [ ]:
analyzer.lexicon.update(new_words)

####Calc Semantic scores of news title and content

In [ ]:
analyzer.polarity_scores('accelerate')

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [ ]:
scores_title = df1['title'].apply(analyzer.polarity_scores).tolist()
scores_content = df1['content'].apply(analyzer.polarity_scores).tolist()
scores_title

[{'neg': 0.0, 'neu': 0.841, 'pos': 0.159, 'compound': 0.1779},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.149, 'neu': 0.851, 'pos': 0.0, 'compound': -0.1027},
 {'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.34},
 {'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'compound': 0.2023},
 {'neg': 0.0, 'neu': 0.841, 'pos': 0.159, 'compound': 0.1779},
 {'neg': 0.0, 'neu': 0.8, 'pos': 0.2, 'compound': 0.1901},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.824, 'pos': 0.176, 'compound': 0.128},
 {'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.4215},
 {'neg': 0.0, 'neu': 0.69, 'pos': 0.31, 'compound': 0.4019},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.167, 'neu': 0.833, 'pos': 0.0, 'compound': -0.296},
 {'neg': 0.0, 'neu': 0.538, 'pos': 0.462, 'compound': 0.7184},
 {'neg': 0.0, 'neu': 0.654, 'pos': 0.346, 'compound': 0.5719},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.645, 'pos': 0.355, 'compound': 0.5267},
 {'neg': 0.0, 'neu': 0.764, 'pos': 0.236, 'compound': 0.5267},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.846, 'pos': 0.154, 'compound': 0.25},
 {'neg': 0.266, 'neu': 0.734, 'pos': 0.0, 'compound': -0.4404},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.734, 'pos': 0.266, 'compound': 0.4391},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'compound': 0.25},
 {'neg': 0.0, 'neu': 0.654, 'pos': 0.346, 'compound': 0.5719},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.194, 'neu': 0.625, 'pos': 0.181, 'compound': -0.0516},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.098, 'neu': 0.902, 'pos': 0.0, 'compound': -0.0516},
 {'neg': 0.118, 'neu': 0.882, 'pos': 0.0, 'compound': -0.0516},
 {'neg': 0.62, 'neu': 0.38, 'pos': 0.0, 'compound': -0.8316},
 {'neg': 0.0, 'neu': 0.789, 'pos': 0.211, 'compound': 0.34},
 {'neg': 0.306, 'neu': 0.694, 'pos': 0.0, 'compound': -0.296},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.281, 'neu': 0.719, 'pos': 0.0, 'compound': -0.5994},
 {'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.7003},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'compound': 0.4939},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.364, 'neu': 0.636, 'pos': 0.0, 'compound': -0.743},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.531, 'pos': 0.469, 'compound': 0.6486},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.694, 'pos': 0.306, 'compound': 0.296},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.732, 'pos': 0.268, 'compound': 0.296},
 {'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.34},
 {'neg': 0.0, 'neu': 0.531, 'pos': 0.469, 'compound': 0.6486},
 {'neg': 0.0, 'neu': 0.753, 'pos': 0.247, 'compound': 0.3182},
 {'neg': 0.0, 'neu': 0.654, 'pos': 0.346, 'compound': 0.5719},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.423, 'neu': 0.577, 'pos': 0.0, 'compound': -0.6597},
 {'neg': 0.0, 'neu': 0.745, 'pos': 0.255, 'compound': 0.34},
 {'neg': 0.462, 'neu': 0.303, 'pos': 0.235, 'compound': -0.4588},
 {'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.2732},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.205, 'neu': 0.513, 'pos': 0.282, 'compound': 0.1531},
 {'neg': 0.0, 'neu': 0.745, 'pos': 0.255, 'compound': 0.34},
 {'neg': 0.0, 'neu': 0.805, 'pos': 0.195, 'compound': 0.1779},
 {'neg': 0.0, 'neu': 0.791, 'pos': 0.209, 'compound': 0.4404},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.205, 'neu': 0.513, 'pos': 0.282, 'compound': 0.1531},
 {'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'compound': 0.2023},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.645, 'pos': 0.355, 'compound': 0.5106},
 {'neg': 0.0, 'neu': 0.531, 'pos': 0.469, 'compound': 0.6486},
 {'neg': 0.0, 'neu': 0.753, 'pos': 0.247, 'compound': 0.3182},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.652, 'pos': 0.348, 'compound': 0.4939},
 {'neg': 0.0, 'neu': 0.727, 'pos': 0.273, 'compound': 0.4588},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.143, 'neu': 0.857, 'pos': 0.0, 'compound': -0.128},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.453, 'neu': 0.547, 'pos': 0.0, 'compound': -0.6996},
 {'neg': 0.0, 'neu': 0.614, 'pos': 0.386, 'compound': 0.5267},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'compound': 0.2023},
 {'neg': 0.206, 'neu': 0.794, 'pos': 0.0, 'compound': -0.3818},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.725, 'pos': 0.275, 'compound': 0.2263},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.31, 'neu': 0.69, 'pos': 0.0, 'compound': -0.5574},
 {'neg': 0.216, 'neu': 0.784, 'pos': 0.0, 'compound': -0.296},
 {'neg': 0.0, 'neu': 0.861, 'pos': 0.139, 'compound': 0.2732},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.686, 'pos': 0.314, 'compound': 0.4939},
 {'neg': 0.196, 'neu': 0.804, 'pos': 0.0, 'compound': -0.296},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.387, 'pos': 0.613, 'compound': 0.8591},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.394, 'neu': 0.606, 'pos': 0.0, 'compound': -0.3818},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.851, 'pos': 0.149, 'compound': 0.1027},
 {'neg': 0.0, 'neu': 0.737, 'pos': 0.263, 'compound': 0.3612},
 {'neg': 0.0, 'neu': 0.678, 'pos': 0.322, 'compound': 0.5859},
 {'neg': 0.414, 'neu': 0.299, 'pos': 0.287, 'compound': -0.4824},
 {'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'compound': 0.7579},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'compound': 0.34},
 {'neg': 0.0, 'neu': 0.35, 'pos': 0.65, 'compound': 0.8074},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.789, 'pos': 0.211, 'compound': 0.1531},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'compound': 0.1531},
 {'neg': 0.0, 'neu': 0.69, 'pos': 0.31, 'compound': 0.5563},
 {'neg': 0.0, 'neu': 0.718, 'pos': 0.282, 'compound': 0.4847},
 {'neg': 0.385, 'neu': 0.615, 'pos': 0.0, 'compound': -0.7096},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.328, 'neu': 0.672, 'pos': 0.0, 'compound': -0.5994},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.449, 'neu': 0.551, 'pos': 0.0, 'compound': -0.6908},
 {'neg': 0.0, 'neu': 0.847, 'pos': 0.153, 'compound': 0.2049},
 {'neg': 0.0, 'neu': 0.68, 'pos': 0.32, 'compound': 0.5106},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.729, 'pos': 0.271, 'compound': 0.3818},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.884, 'pos': 0.116, 'compound': 0.2732},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.841, 'pos': 0.159, 'compound': 0.1779},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.779, 'pos': 0.221, 'compound': 0.1779},
 {'neg': 0.216, 'neu': 0.784, 'pos': 0.0, 'compound': -0.296},
 {'neg': 0.16, 'neu': 0.84, 'pos': 0.0, 'compound': -0.2263},
 {'neg': 0.0, 'neu': 0.813, 'pos': 0.187, 'compound': 0.3182},
 {'neg': 0.0, 'neu': 0.513, 'pos': 0.487, 'compound': 0.765},
 {'neg': 0.0, 'neu': 0.82, 'pos': 0.18, 'compound': 0.0258},
 {'neg': 0.355, 'neu': 0.645, 'pos': 0.0, 'compound': -0.5106},
 {'neg': 0.0, 'neu': 0.667, 'pos': 0.333, 'compound': 0.4588},
 {'neg': 0.0, 'neu': 0.789, 'pos': 0.211, 'compound': 0.34},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.219, 'neu': 0.781, 'pos': 0.0, 'compound': -0.4215},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.186, 'neu': 0.476, 'pos': 0.338, 'compound': 0.296},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.827, 'pos': 0.173, 'compound': 0.3182},
 {'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'compound': 0.5574},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'compound': 0.1779},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.666, 'pos': 0.334, 'compound': 0.6142},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.571, 'pos': 0.429, 'compound': 0.5423},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}]

In [ ]:
datelist = df1['release_date'].reset_index()

In [ ]:
df_scores_titles = pd.DataFrame(scores_title)
df_score_content = pd.DataFrame(scores_content)

In [ ]:
df_score_content.rename(columns = {'compound':'content_compound'}, inplace = True)

In [ ]:
df_scores_titles.rename(columns = {'compound':'titles_compound'}, inplace = True)

In [ ]:
compound_sm = pd.merge(df_scores_titles['titles_compound'] , df_score_content['content_compound'] , left_index =True,right_index= True)
compound_sm_np = pd.merge(compound_sm , df1['category'] , left_index =True,right_index= True)

In [ ]:
semantic_news = pd.merge(compound_sm_np , datelist['release_date'] , left_index =True,right_index= True)
semantic_news.sample(n=5)

In [ ]:
semantic_news['compound0_1'] = 0*semantic_news['titles_compound'] + 1*semantic_news['content_compound']
semantic_news['compound.1_.9'] = 0.1*semantic_news['titles_compound'] + 0.9*semantic_news['content_compound']
semantic_news['compound.2_.8'] = 0.2*semantic_news['titles_compound'] + 0.8*semantic_news['content_compound']
semantic_news['compound.3_.7'] = 0.3*semantic_news['titles_compound'] + 0.7*semantic_news['content_compound']
semantic_news

,titles_compound,content_compound,category,release_date,compound0_1,compound.1_.9,compound.2_.8,compound.3_.7
0,0.1779,0.9973,opinion,2019-08-19,0.9973,0.91536,0.83342,0.75148
1,0.0000,0.9062,news,2019-08-19,0.9062,0.81558,0.72496,0.63434
2,-0.1027,0.5434,news,2019-08-19,0.5434,0.47879,0.41418,0.34957
3,0.3400,0.9971,opinion,2019-08-19,0.9971,0.93139,0.86568,0.79997
4,0.2023,0.9712,news,2019-08-19,0.9712,0.89431,0.81742,0.74053
...,...,...,...,...,...,...,...,...
169,0.0000,0.9986,opinion,2019-08-30,0.9986,0.89874,0.79888,0.69902
170,0.6142,0.9920,opinion,2019-08-30,0.9920,0.95422,0.91644,0.87866
171,0.0000,0.9966,opinion,2019-08-30,0.9966,0.89694,0.79728,0.69762
172,0.5423,0.8720,news,2019-08-30,0.8720,0.83903,0.80606,0.77309
173,0.0000,0.9536,news,2019-08-31,0.9536,0.85824,0.76288,0.66752

In [ ]:
semantic_news2 = semantic_news
semantic_news2. drop('titles_compound', axis=1, inplace=True)
semantic_news2. drop('content_compound', axis=1, inplace=True)
semantic_news_opinion = semantic_news2[semantic_news2['category'] == 'opinion']
semantic_news_news = semantic_news2[semantic_news2['category'] == 'news']
semantic_news_news

,category,release_date,compound0_1,compound.1_.9,compound.2_.8,compound.3_.7
1,news,2019-08-19,0.9062,0.81558,0.72496,0.63434
2,news,2019-08-19,0.5434,0.47879,0.41418,0.34957
4,news,2019-08-19,0.9712,0.89431,0.81742,0.74053
8,news,2019-08-19,-0.9596,-0.85084,-0.74208,-0.63332
9,news,2019-08-19,0.9849,0.92856,0.87222,0.81588
12,news,2019-08-20,-0.9496,-0.88424,-0.81888,-0.75352
14,news,2019-08-20,-0.9645,-0.81086,-0.65722,-0.50358
16,news,2019-08-20,0.9794,0.88146,0.78352,0.68558
17,news,2019-08-20,0.9941,0.94736,0.90062,0.85388
18,news,2019-08-20,0.9363,0.89534,0.85438,0.81342
19,news,2019-08-20,0.2023,0.18207,0.16184,0.14161
20,news,2019-08-21,0.3818,0.36862,0.35544,0.34226
21,news,2019-08-21,-0.8591,-0.81723,-0.77536,-0.73349
23,news,2019-08-21,0.8807,0.79263,0.70456,0.61649
24,news,2019-08-21,0.9294,0.83646,0.74352,0.65058
25,news,2019-08-21,0.9902,0.93509,0.87998,0.82487
28,news,2019-08-22,0.9793,0.88137,0.78344,0.68551
30,news,2019-08-23,0.2952,0.32287,0.35054,0.37821
31,news,2019-08-23,-0.1027,-0.09243,-0.08216,-0.07189
32,news,2019-08-23,-0.8271,-0.74439,-0.66168,-0.57897
34,news,2019-08-23,-0.6322,-0.56898,-0.50576,-0.44254
35,news,2019-08-23,0.6238,0.56142,0.49904,0.43666
37,news,2019-08-23,-0.9964,-0.90192,-0.80744,-0.71296
38,news,2019-08-23,-0.0402,-0.04134,-0.04248,-0.04362
39,news,2019-08-23,-0.9899,-0.97407,-0.95824,-0.94241
40,news,2019-08-23,0.9978,0.93202,0.86624,0.80046
41,news,2019-08-23,-0.8899,-0.83051,-0.77112,-0.71173
46,news,2019-08-26,0.0909,0.08181,0.07272,0.06363
97,news,2019-08-27,-0.5563,-0.47804,-0.39978,-0.32152
99,news,2019-08-27,-0.7300,-0.65700,-0.58400,-0.51100
100,news,2019-08-27,-0.9231,-0.88653,-0.84996,-0.81339
101,news,2019-08-27,0.8750,0.75790,0.64080,0.52370
148,news,2019-08-28,0.9503,0.87306,0.79582,0.71858
149,news,2019-08-28,0.7003,0.60067,0.50104,0.40141
150,news,2019-08-28,0.9813,0.86054,0.73978,0.61902
151,news,2019-08-28,0.9273,0.86639,0.80548,0.74457
152,news,2019-08-28,0.9888,0.96642,0.94404,0.92166
158,news,2019-08-29,0.9980,0.89820,0.79840,0.69860
159,news,2019-08-29,0.9922,0.89298,0.79376,0.69454
160,news,2019-08-29,-0.5574,-0.50166,-0.44592,-0.39018
161,news,2019-08-29,-0.3716,-0.37659,-0.38158,-0.38657
162,news,2019-08-29,0.8032,0.72288,0.64256,0.56224
163,news,2019-08-29,0.9388,0.87452,0.81024,0.74596
164,news,2019-08-29,0.9861,0.88749,0.78888,0.69027
165,news,2019-08-29,-0.3656,-0.29722,-0.22884,-0.16046
172,news,2019-08-30,0.8720,0.83903,0.80606,0.77309
173,news,2019-08-31,0.9536,0.85824,0.76288,0.66752

news series

In [ ]:
semantic_news_news2 = semantic_news_news.groupby(by=['release_date']).sum()
semantic_news_news3 = semantic_news_news.groupby(by=['release_date']).count()
semantic_news_news3 = semantic_news_news3.rename(columns = {
    'compound.3_.7' : 'count'
})
semantic_news_newsf = pd.merge(semantic_news_news2,semantic_news_news3['count'],right_index= True,left_index= True)
semantic_news_newsf = semantic_news_newsf.div(semantic_news_newsf['count'], axis=0)
semantic_news_newsf

              compound0_1  compound.1_.9  compound.2_.8  compound.3_.7  count
release_date
2019-08-19       0.489220       0.453280       0.417340       0.381400    1.0
2019-08-20       0.199667       0.201855       0.204043       0.206232    1.0
2019-08-21       0.464600       0.423114       0.381628       0.340142    1.0
2019-08-22       0.979300       0.881370       0.783440       0.685510    1.0
2019-08-23      -0.256160      -0.233733      -0.211306      -0.188879    1.0
2019-08-26       0.090900       0.081810       0.072720       0.063630    1.0
2019-08-27      -0.333600      -0.315918      -0.298235      -0.280553    1.0
2019-08-28       0.909600       0.833416       0.757232       0.681048    1.0
2019-08-29       0.427963       0.387575       0.347188       0.306800    1.0
2019-08-30       0.872000       0.839030       0.806060       0.773090    1.0
2019-08-31       0.953600       0.858240       0.762880       0.667520    1.0

opinion series

In [ ]:
semantic_news_opinion2 = semantic_news_opinion.groupby(by=['release_date']).sum()
semantic_news_opinion3 = semantic_news_opinion.groupby(by=['release_date']).count()
semantic_news_opinion3 = semantic_news_opinion3.rename(columns = {
    'compound.3_.7' : 'count'
})
semantic_news_opinionf = pd.merge(semantic_news_opinion2,semantic_news_opinion3['count'],right_index= True,left_index= True)

semantic_news_opinionf = semantic_news_opinionf.div(semantic_news_opinionf['count'], axis=0)
semantic_news_opinionf

              compound0_1  compound.1_.9  compound.2_.8  compound.3_.7  count
release_date
2019-08-19       0.992350       0.914578       0.836807       0.759035    1.0
2019-08-20       0.707033       0.660277       0.613520       0.566763    1.0
2019-08-21       0.995550       0.895995       0.796440       0.696885    1.0
2019-08-22       0.905850       0.827765       0.749680       0.671595    1.0
2019-08-23       0.209400       0.185880       0.162360       0.138840    1.0
2019-08-25      -0.359533      -0.343560      -0.327587      -0.311613    1.0
2019-08-26       0.835984       0.765095       0.694206       0.623317    1.0
2019-08-27       0.908790       0.827576       0.746361       0.665146    1.0
2019-08-28       0.985525       0.892934       0.800343       0.707751    1.0
2019-08-29       0.994875       0.902593       0.810310       0.718027    1.0
2019-08-30       0.748633       0.696262       0.643890       0.591518    1.0

combining news and opinion

In [ ]:
cnp = pd.merge(semantic_news_newsf,semantic_news_opinionf,on='release_date',how='outer')
cnp = cnp.fillna(0)
cnp

,compound0_1_x,compound.1_.9_x,compound.2_.8_x,compound.3_.7_x,count_x,compound0_1_y,compound.1_.9_y,compound.2_.8_y,compound.3_.7_y,count_y
release_date,,,,,,,,,,
2019-08-19,0.489220,0.453280,0.417340,0.381400,1.0,0.992350,0.914578,0.836807,0.759035,1.0
2019-08-20,0.199667,0.201855,0.204043,0.206232,1.0,0.707033,0.660277,0.613520,0.566763,1.0
2019-08-21,0.464600,0.423114,0.381628,0.340142,1.0,0.995550,0.895995,0.796440,0.696885,1.0
2019-08-22,0.979300,0.881370,0.783440,0.685510,1.0,0.905850,0.827765,0.749680,0.671595,1.0
2019-08-23,-0.256160,-0.233733,-0.211306,-0.188879,1.0,0.209400,0.185880,0.162360,0.138840,1.0
2019-08-26,0.090900,0.081810,0.072720,0.063630,1.0,0.835984,0.765095,0.694206,0.623317,1.0
2019-08-27,-0.333600,-0.315918,-0.298235,-0.280553,1.0,0.908790,0.827576,0.746361,0.665146,1.0
2019-08-28,0.909600,0.833416,0.757232,0.681048,1.0,0.985525,0.892934,0.800343,0.707751,1.0
2019-08-29,0.427963,0.387575,0.347188,0.306800,1.0,0.994875,0.902593,0.810310,0.718027,1.0
2019-08-30,0.872000,0.839030,0.806060,0.773090,1.0,0.748633,0.696262,0.643890,0.591518,1.0
2019-08-31,0.953600,0.858240,0.762880,0.667520,1.0,0.000000,0.000000,0.000000,0.000000,0.0
2019-08-25,0.000000,0.000000,0.000000,0.000000,0.0,-0.359533,-0.343560,-0.327587,-0.311613,1.0

In [ ]:
cnp['compound0_1_x']

release_date
2019-08-19    0.489220
2019-08-20    0.199667
2019-08-21    0.464600
2019-08-22    0.979300
2019-08-23   -0.256160
2019-08-26    0.090900
2019-08-27   -0.333600
2019-08-28    0.909600
2019-08-29    0.427963
2019-08-30    0.872000
2019-08-31    0.953600
2019-08-25    0.000000
Name: compound0_1_x, dtype: float64

In [ ]:
mulx = 0.7
muly = 0.3

In [ ]:
cnp['compound0_1'] = mulx*cnp['compound0_1_x'] + muly*cnp['compound0_1_y']
cnp['compound.1_.9'] = mulx*cnp['compound.1_.9_x'] + muly*cnp['compound.1_.9_y']
cnp['compound.2_.8'] = mulx*cnp['compound.2_.8_x'] + muly*cnp['compound.2_.8_y']
cnp['compound.3_.7'] = mulx*cnp['compound.3_.7_x'] + muly*cnp['compound.3_.7_y']

In [ ]:
cnpf = cnp[['compound0_1', 'compound.1_.9', 'compound.2_.8', 'compound.3_.7']]
cnpf

              compound0_1  compound.1_.9  compound.2_.8  compound.3_.7
release_date
2019-08-19       0.640159       0.591669       0.543180       0.494690
2019-08-20       0.351877       0.339382       0.326886       0.314391
2019-08-21       0.623885       0.564978       0.506072       0.447165
2019-08-22       0.957265       0.865288       0.773312       0.681335
2019-08-23      -0.116492      -0.107849      -0.099206      -0.090563
2019-08-26       0.314425       0.286796       0.259166       0.231536
2019-08-27       0.039117       0.027130       0.015144       0.003157
2019-08-28       0.932377       0.851271       0.770165       0.689059
2019-08-29       0.598036       0.542080       0.486124       0.430168
2019-08-30       0.834990       0.796199       0.757409       0.718618
2019-08-31       0.667520       0.600768       0.534016       0.467264
2019-08-25      -0.107860      -0.103068      -0.098276      -0.093484

In [ ]:
cnpf['compound.1_.9'] = cnpf['compound.1_.9'].abs()

## Get Max compund
# final_df = semantic_fac.loc[semantic_fac['compound'].idxmax()]
# news_date = semantic_fac[semantic_fac['compound'] == final_df['compound']]

## Get Max 3
cnpf = cnpf.sort_values('compound.1_.9')
final_df_h = cnpf.tail(3)
final_df_l = cnpf.head(3)

final_df_h = final_df_h.sort_values('release_date')
final_df_l = final_df_l.sort_values('release_date')
final_df_l

              compound0_1  compound.1_.9  compound.2_.8  compound.3_.7
release_date
2019-08-23      -0.116492       0.107849      -0.099206      -0.090563
2019-08-25      -0.107860       0.103068      -0.098276      -0.093484
2019-08-27       0.039117       0.027130       0.015144       0.003157

In [ ]:
final_news = []
for i in range(len(final_df_h.index)):
  temp = df1[df1['release_date'] == final_df_h.index.values[i]]
  final_news.append(temp)
final_news = pd.concat(final_news)
final_news[['category','title','content']]

,category,title,content
27,opinion,Momo MOMO To Report Q2 Earnings What s In T...,Momo Inc NASDAQ MOMO is set to report sec...
28,news,Fitbit targets 1 million new users with Singap...,By John Geddie and Neha Malara Reuters Fi...
29,opinion,Stocks Are Poised To See A Big Break Out On Au...,Stocks had a nice day rising by about 80 basis...
141,opinion,Why Is Apple AAPL Down 3 5 Since Last Earni...,A month has gone by since the last earnings re...
142,opinion,Douglas Dynamics Louisiana Pacific Facebook ...,For Immediate ReleaseChicago IL August 29 ...
143,opinion,Are The FAANG Stocks On Sale,Welcome to Episode 191 of the Zacks Market Ed...
144,opinion,Zacks Market Edge Highlights Facebook Amazon...,For Immediate ReleaseChicago IL August 29 ...
145,opinion,Bear Of The Day TravelCenters Of America TA,Today s Zacks Bull of the Day was a company th...
146,opinion,Where s The NASDAQ 100 Headed Next,Monitoring FAANG Stocks For CluesIn this artic...
147,opinion,Bull Of The Day Casey s General Stores,Let s face it it s hard to get excited about ...
148,news,Fitbit unveils Versa 2 smartwatch with Amazon ...,By Neha Malara Reuters Fitbit Inc N FIT...
149,news,Apple to stop default practice of keeping Siri...,By Stephen Nellis Reuters Apple Inc O AAP...
150,news,Apple s data shows a deepening dependence on C...,By Stephen Nellis Reuters Tapping factorie...
151,news,Apple to Start Online Sales in India After Cou...,Bloomberg Apple Inc NASDAQ AAPL is poi...
152,news,India eases foreign investment rules for sever...,NEW DELHI Reuters India s federal cabinet ...
153,opinion,Facebook Roundup Regulatory Matters A Constan...,The list of governments and their lists of con...
166,opinion,Electronic Commerce Outlook Rich Valuation Li...,Electronic commerce the method of buying and ...
167,opinion,Stocks Are Heading Toward The Light At The End...,U S MarketsS P 500 Futures 27 25U S 10 Year...
168,opinion,Amazon AMZN America s Golden Child Ripens,FAANG as an aggregate has been underperformi...
169,opinion,Why Is Shopify SHOP Up 12 9 Since Last Earn...,It has been about a month since the last earni...
170,opinion,Can Apple s New Card Succeed Despite Low Mobil...,Apple NASDAQ AAPL announced earlier this y...
171,opinion,Dark Days Are Closing In On Apple,What s the most successful product in history ...
172,news,Stocks U S Futures Rise as Trade Hopes Exte...,Investing com U S futures jumped on Friday ...

In [ ]:
pip install yfinance

Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [ ]:
import yfinance as yf

In [ ]:
aapl = yf.Ticker('AAPL')
hist = aapl.history(start='2019-08-19', end='2019-08-31')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-08-19,51.515832,52.031920,51.371524,51.449795,97654400,0,0
2019-08-20,51.579417,52.183558,51.442447,51.452229,107537200,0,0
2019-08-21,52.095511,52.256939,51.755530,52.009903,86141600,0,0
2019-08-22,52.144432,52.450171,51.547628,51.965881,89014800,0,0
2019-08-23,51.224761,51.865593,49.162858,49.563988,187272000,0,0
2019-08-26,50.351575,50.676882,50.155901,50.505669,104174400,0,0
2019-08-27,50.840759,51.009528,49.781678,49.935772,103493200,0,0
2019-08-28,49.921095,50.317332,49.730314,50.270859,63755200,0,0
2019-08-29,50.997296,51.197862,50.547249,51.122036,83962000,0,0
2019-08-30,51.403315,51.474245,50.679323,51.055996,84573600,0,0

In [ ]:
pip install plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-08-19,51.515832,52.031920,51.371524,51.449795,97654400,0,0
2019-08-20,51.579417,52.183558,51.442447,51.452229,107537200,0,0
2019-08-21,52.095511,52.256939,51.755530,52.009903,86141600,0,0
2019-08-22,52.144432,52.450171,51.547628,51.965881,89014800,0,0
2019-08-23,51.224761,51.865593,49.162858,49.563988,187272000,0,0
2019-08-26,50.351575,50.676882,50.155901,50.505669,104174400,0,0
2019-08-27,50.840759,51.009528,49.781678,49.935772,103493200,0,0
2019-08-28,49.921095,50.317332,49.730314,50.270859,63755200,0,0
2019-08-29,50.997296,51.197862,50.547249,51.122036,83962000,0,0
2019-08-30,51.403315,51.474245,50.679323,51.055996,84573600,0,0

In [ ]:
cnp_H = pd.merge(final_df_h,hist,right_index=True,left_index=True,how='inner')
cnp_L = pd.merge(final_df_l,hist,right_index=True,left_index=True,how='inner')
cnp_L

,compound0_1,compound.1_.9,compound.2_.8,compound.3_.7,Open,High,Low,Close,Volume,Dividends,Stock Splits
2019-08-23,-0.116492,0.107849,-0.099206,-0.090563,51.224761,51.865593,49.162858,49.563988,187272000,0,0
2019-08-27,0.039117,0.027130,0.015144,0.003157,50.840759,51.009528,49.781678,49.935772,103493200,0,0

In [ ]:
fig = make_subplots(specs=[[{"secondary_y": True}]])
fig.add_trace(go.Scatter(x=hist.index,y=hist['Close'],name='Price'), secondary_y=False)
fig.add_trace(go.Scatter(x=cnp_H.index,y=cnp_H['Close'],name='Point of max disturbance', mode='markers', marker=dict(size=20,
                              line=dict(width=2,
                                        color='DarkSlateGrey'))), secondary_y=False)

fig.add_trace(go.Scatter(x=cnp_L.index,y=cnp_L['Close'],name='Point of min disturbance', mode='markers', marker=dict(size=12,
                              line=dict(width=1,
                                        color='blue'))), secondary_y=False)
fig.show()